<%= form_with(model: order, local: true) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :width, 'Ширина, м' %>
    <p><%= f.number_field :width, class: 'elem-for-calculate-volume', placeholder: '0', min: 0.01, step: '0.01', required: true %></p>

    <%= f.label :height, 'Высота, м' %>
    <p><%= f.number_field :height, class: 'elem-for-calculate-volume', placeholder: '0', min: 0.01, step: '0.01', required: true %></p>

    <%= f.label :length, 'Длина, м' %>
    <p><%= f.number_field :length, class: 'elem-for-calculate-volume', placeholder: '0', min: 0.01, step: '0.01', required: true %></p>

    <%= f.label :overall_volume, 'Общий объём, м<sup>3</sup>'.html_safe %>
    <p><%= f.number_field :overall_volume, placeholder: '0', min: 0.01, step: '0.01', required: true %></p>

    <%= f.label :weight, 'Общий вес, кг' %>
    <p><%= f.number_field :weight, placeholder: '0', min: 0.01, step: '0.01', required: true %></p>

    <%= f.hidden_field :departure_locality %>
    <%= f.hidden_field :destination_locality %>
    <%= f.hidden_field :distance %>

    <%= f.submit 'Рассчитать', id: 'submit', disabled: true %>
  </div>
<% end %>
